# build/outputs (C/C++ NetBeans/Make)
build/
dist/
Debug/
Release/
*.o
*.obj
*.exe
*.dll
*.a
*.so

# NetBeans
nbproject/private/
*.dep.inc

# OS / tooling
.DS_Store
Thumbs.db

*.mp4
*.mov
*.avi
*.mkv
*.zip
*.rar
*.7z
